/* You can add global styles to this file, and also import other style files */
.nom {
  text-align: center;
  font-weight: bolder;
}
.accueil {
  color: orange;
}

.tableau {
  margin-top: 60px;
}
/*
.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.333%;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.col {
  flex: 1 0 0%;
}*/